@model ITI_Project.BLL.ModelVM.CreateRatingVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CreateRatingVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="RatingValue" class="control-label"></label>
                <input asp-for="RatingValue" class="form-control" />
                <span asp-validation-for="RatingValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewText" class="control-label"></label>
                <input asp-for="ReviewText" class="form-control" />
                <span asp-validation-for="ReviewText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingDate" class="control-label"></label>
                <input asp-for="RatingDate" class="form-control" />
                <span asp-validation-for="RatingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CutomerId" class="control-label"></label>
                <input asp-for="CutomerId" class="form-control" />
                <span asp-validation-for="CutomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Read">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
