@model ITI_Project.BLL.ModelVM.RoleVM

@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="form-section d-flex justify-content-center align-items-center">
    <div class="col-md-5 p-4 shadow-sm rounded form-container" style="padding-top:0px; margin-bottom:0px;  background: #fff;">
        <p class="text-brown text-center" style="font-family: 'Times New Roman', serif; font-size: 30px; color: #674636;"> <b>New Role</b> <i class="fas fa-marker"></i></p>

        <form asp-action="New" style="border: none; padding: 20px;">
            <div asp-validation-summary="ModelOnly" class="text-dark-brown"></div>


            <div class="form-group mb-4">
                <label asp-for="Rolename" class="control-label text-darker-brown"></label>
                <input asp-for="Rolename" placeholder="Edit Name Of Product" class="form-control transparent-input border-dark-brown" type="text" autocomplete="off" />
                <span asp-validation-for="Rolename" class="text-dark-brown"></span>
            </div>




            <!-- Custom Image Upload input-->
      

            <div class="form-group mb-4">
                <button type="submit" class="button1 w-100 ">Add Role <i class="fas fa-plus-circle"></i></button>
            </div>

            <a asp-action="Index" asp-controller="Role" class="button1 w-100 ">Cancel</a>
        </form>
    </div>
</div>


<style>

    body {
        background-color: #FFFBF5;
        padding-top: 70px;
    }



    .button1 {
        background-color: #dfbe9f;
        color: #734d26;
        padding: 7px 7px;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        font-size: 15px;
        
        border-radius: 15px;
        border: none;
    }

        .button1:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
            text-decoration: none;
        }


    body {
        background-color: #FFFBF5; /* Light beige */
        padding-top: 100px;
    }

    .text-brown {
        color: #674636; /* Dark brown for headings */
    }

    .text-darker-brown {
        color: #674636; /* Darker brown for labels */
    }

    .text-dark-brown {
        color: #674636; /* Dark brown for validation text */
    }

    .border-dark-brown {
        border-color: #674636; /* Dark brown border */
    }

    .transparent-input {
        background-color: #F7EFE5; /* Cream background */
        color: #674636; /* Dark brown text */
        border-radius: 15px; /* Rounded corners */
        border: none;
        transition: background-color 0.3s ease;
    }

        .transparent-input:focus {
            background-color: #F7EFE5; /* Maintain the cream background on focus */
            color: #674636;
            outline: none;
            box-shadow: none;
            border: solid 0.5px #674636;
        }

        .transparent-input::placeholder {
            color: #888888;
        }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shadow-sm {
        box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }


 
</style>