@model ITI_Project.BLL.ModelVM.GetInvoiceVM

@{
    ViewData["Title"] = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<div class="invoice-container">
    <p class="text-brown text-center" style="font-family: 'Times New Roman', serif; font-size: 30px; color: #674636;"> <b>Your Invoice </b><i class='fas fa-file-alt'></i></p>

    <div class="company-details">
        <p><strong>Store Name :</strong> Cozy Corner</p>
       
    </div>

    <div class="customer-details">
        <h3>Bill To:</h3>
        @Model.CustomerName <!-- Assuming the model has a property for the customer's name -->
    </div>

    <table id="invoice-items">
        <thead id="Thead">
            <tr>
                
               
                <th>Payment Method <i class='fas fa-money-check-alt'></i></th>
                <th>Paid <i class='far fa-handshake'></i></th>
                <th>Invoice Date <i class='fas fa-calendar-alt'></i></th>
            </tr>
        </thead>
        <tbody id="items-body">
            <tr>
               
              
                <td>Cash on Delivery</td>
                <td>@(Model.IsPaid ? "Yes" : "No")</td>
                <td>@Model.InvoiceDate.ToString("MM/dd/yyyy")</td>
            </tr>
        </tbody>
    </table>

    <center>
        <div class="Total mt-3">
            <p><strong>Total:</strong> @Model.TotallPrice <i class='fas fa-dollar-sign'></i></p>
        </div>
    </center>

    <center><button class="print-invoice mt-4" onclick="window.print()">Print <i class='fas fa-print'></i></button></center>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<style>
   

    body {
        background-color: #FFFBF5;
        padding-top: 70px;
    }

    .invoice-container {
        max-width: 800px;
        background-color: #F7EFE5;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .company-details, .customer-details {
        margin: 20px 0;
        color: #674636;
    }

    table {
        width: 100%;
        border-color: #674636;
    }

    table, th {
        border: 1px solid #ccc;
        background-color: #F7EFE5;
        padding: 10px;
        text-align: left;
        color: #674636;
    }

    table, td {
        border: 1px solid #ccc;
        background-color: #FCFAEE;
        padding: 10px;
        text-align: left;
    }

    .add-item {
        background-color: #dfbe9f;
        color: #734d26;
        padding: 10px 32px;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        font-size: 20px;
        width: 160px;
        border-radius: 200px;
        border: none;
    }

        .add-item:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        }

    .print-invoice {
        background-color: #dfbe9f;
        align-content: center;
        color: #734d26;
        padding: 10px 32px;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        font-size: 20px;
        width: 285px;
        border-radius: 200px;
        border: none;
    }

        .print-invoice:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        }

    .Total {
        width: 150px;
        height: 65px;
        background-color: #FCFAEE;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: #6C4E31;
        font-size: 20px;
        font-weight: bold;
    }
</style>
