@model ITI_Project.BLL.ModelVM.LoginUserVM

@{
    ViewData["Title"] = "Login";
    ViewData["HideHeaderFooter"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-brown w-100">
    <div class="container-fluid">
        <div class="container-fluid">
            @if (User.IsInRole("Vendor"))
            {
                <a class="navbar-brand text-light" href="@Url.Action("VendorGallery", "Product")">
                    Cozy Corner
                </a>
            }
            else
            {
                <a class="navbar-brand text-light" href="@Url.Action("Read", "Product")">
                    Cozy Corner
                </a>
            }
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- My Account Dropdown -->
                <li class="nav-item dropdown custom-dropdown">
                    <a class="navbar-brand text-light dropdown-toggle d-flex align-items-center" href="#" id="myAccountDropdown" role="button">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Account
                    </a>
                    <ul class="dropdown-menu dropdown-custom" aria-labelledby="myAccountDropdown">
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="blurred-background">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6 p-4 shadow-sm rounded">
            <p class="text-brown text-center" style="font-family: 'Times New Roman', serif; font-size: 35px; color: #865439; margin-top: auto;">Login</p>

            <form asp-action="Login" style="border: none; padding: 20px;">
                <div asp-validation-summary="ModelOnly" class="text-dark-brown"></div>
                <div class="form-group mb-4">
                    <label asp-for="UserName" class="control-label text-darker-brown"></label>
                    <input asp-for="UserName" class="form-control transparent-input border-dark-brown" autocomplete="off" />
                    <span asp-validation-for="UserName" class="text-dark-brown"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Password" class="control-label text-darker-brown"></label>
                    <input asp-for="Password" class="form-control transparent-input border-dark-brown" type="password" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-dark-brown"></span>
                </div>
                <div class="form-group form-inline justify-content-between align-items-center mb-4">
                    <label class="form-check-label text-darker-brown">
                        <input class="form-check-input" asp-for="RemenberMe" /> @Html.DisplayNameFor(model => model.RemenberMe)
                    </label>
                    <a class="text-right link2" href="@Url.Action("Register", "Account")" class="text-darker-brown">Don't have an account?</a>
                </div>
                <div class="form-group mb-4">
                    <input class="button1 w-100" type="submit" value="login" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<style>
    /* Adjusting navbar height */
    .navbar {
        padding: 5px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
    }

    .bg-brown {
        background-color: #865439;
    }

    .navbar-brand, .nav-link {
        font-size: 18px;
    }

        .nav-link:hover {
            color: #FFF8E7 !important;
        }

    .button1 {
        background-color: #865439;
        border: none;
        color: #FFF8E7;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        width: 100%;
        border-radius: 10px;
    }

        .button1:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        }


    body {
        height: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 120px;
        font-family: 'Times New Roman', serif;
    }

    .blurred-background {
        position: relative;
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }

        .blurred-background::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: blur(4px);
            z-index: -1;
            opacity: 0.8;
            width: 100vw;
            height: 100vh;
        }

    .text-darker-brown {
        color: #4A2D12;
    }

    .border-dark-brown {
        border-color: #654321;
    }

    .transparent-input {
        background-color: rgba(255, 255, 255, 0.1);
        color: #654321;
        border: 1px solid #654321;
        transition: background-color 0.3s ease;
    }

        .transparent-input:focus {
            background-color: rgba(255, 255, 255, 0.1);
            color: #654321;
            outline: none;
            box-shadow: none;
            border-color: #FFF8E7;
        }

    .link2 {
        color: #4A2D12;
    }

        .link2:hover {
            color: #4A2D12;
            box-shadow: none;
        }

    .form-inline {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
